* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.teclado {
    width: 100%;
    background-color: white;
}
.container {
    width:50vw ;
    background-color: red;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    border-radius: 8px;
    margin-top: 40px;
}

.teclado ul {
    background-color:blue;
    width: 48vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 500px;
    border-radius: 10px;
    margin: 0 auto;
}

.teclado li{
    width: 20%;
    height: 13%;
    margin: 2%;
    border: none;
    border-radius: 10px;
}

.teclado li:active {
    box-shadow: 0px 0px 20px 8px lightblue;    
}

.teclado li:hover {
    scale: .8;   
}


.teclado .tecla {
    background-color:darkblue;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    font-size: 32px;
    color: white;
}

.teclado tecla {
    background-color: grey;
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
