* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    background-color: var(--main-background);
    color: var(--text-buttons);
    max-width:  1440px;
}
.header,
.teclado{
    max-width:  500px;
    margin:  auto;
    margin-top: 100px;
}
.header div{
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

.header .result{
    background-color: var(--screen-brackground);
    width: 100%;
    height: 80px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 40px;
    font-weight: bold;
    text-align: end;
    color: var(--text-buttons);
}